{% extends 'base.html' %}
{% load static %}
{% block content %}
  

<div class="container mt-5  mx-auto">
  <div class="products mx-auto ">
    {% for i in meals %}
    <div class="card" style="width: 18rem">
        <img  src="{{ i.strMealThumb}}" class="" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{i.strMeal}}</h5>
          <p class="card-text">
            {{i.strDescription}}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}


